.sidebar{
    width:280px;
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:space-between;

    background:#101827;

    padding:20px;

    border-right:1px solid #293244;
}

.logoSection{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:30px;
}

.logo{

    width:50px;

    height:50px;

    border-radius:50%;

    background:#3b82f6;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

    font-weight:bold;
}

.logoSection h2{

    font-size:24px;
}

.logoSection p{

    color:#94a3b8;

    font-size:12px;
}

.riskCard{

    background:#182233;

    padding:20px;

    border-radius:14px;

    text-align:center;
}

.score{

    font-size:48px;

    margin-top:15px;
}

.highRisk{

    color:#ef4444;

    margin-top:10px;

    font-weight:bold;
}
