.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 16px;
  margin-bottom: 8px;

  border-radius: 12px;
  cursor: pointer;

  color: #F8FAFC;
  transition: all 0.25s ease;
}

.item:hover {
  background: #2B3545;
  color: #FFFFFF;
}

.item:hover svg {
  color: #FFFFFF;
}

.active {
  background: #2F3E80;
  color: #FFFFFF;
}

.active svg {
  color: #FFFFFF;
}

.left {
  display: flex;
  align-items: center;
  gap: 14px;

  color: #F8FAFC;
}

.left span {
  color: #F8FAFC;
}

.left svg {
  color: #94A3B8;
}

.active .left svg {
  color: #FFFFFF;
}

.badge {
  background: #EF4444;
  color: #FFFFFF;

  padding: 2px 8px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}
h2{
    color: #F8FAFC;
}