.profile{

    display:flex;

    align-items:center;

    gap:12px;

}

.profile img{

    width:44px;

    height:44px;

    border-radius:50%;

}

.profile h4{

    font-size:15px;

}

.profile span{

    color:#94a3b8;

    font-size:13px;

}