.toolbar{

display:flex;

gap:10px;

}

.toolbar button{

width:38px;

height:38px;

border-radius:10px;

background:#1C2433;

color:white;

display:flex;

justify-content:center;

align-items:center;

transition:.25s;

}

.toolbar button:hover{

background:#3B82F6;

}